

<h2>Movie info:</h2>

<form method="POST" action="/movies/add"> 

	<!-- make a GET request to / when 
	submit button is pushed -->

	<input type="text" name="title" placeholder="title"> by <input type="text" name="director" placeholder="director"> (<input type="text" name="year" placeholder="year">) <button type="submit">Add</button>

</form>
<br>
<div id="nav">
<a href="/mymovies">My Movies</a> | <a href="/movies">Movies Database</a>
</div>