<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<title>Let's Watch Some Movies!</title>
</head>

<body>

	<div id="content">
	<h1>Let's Watch Some Movies!</h1>

	{{{body}}}

	</div>

</body>

</html>