body {

	background-color: pink;
	text-align: center;
	font-family: "Britannic Bold", Times, serif;
	width:100%;
}


table {
	margin-left: auto;
	margin-right: auto;
}

ul {

	list-style-type: none;
}